{% extends 'base.html' %}
{%load static%}


{% block main %}
<div x-data="getData" x-init="sorteiaNome();">
  <template x-if="!jogo_finalizado">
    <div
      class="card position-absolute top-50 start-50 translate-middle text-center my-2 py-2 shadow-lg bg-light bg-opacity-50   "
      style="width: 32rem;">
      <div class="card-body aligment-itens-center ">
        <div class="card py-4 m-2 border bg-secondary bg-opacity-75 shadow ">
          <h2 class="card-title" x-text="nome_sorteado"></h2>
          <h2 class="card-title">Este nome é de:</h2>
        </div>
        <div class="py-2 my-2">
          <button x-on:click="distro_click=true;pontuar();" class="btn btn-lg btn-primary shadow w-100"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Uma Distribuição Linux</button>
        </div>
        <div class=" py-2 my-2">
          <button x-on:click="pokemon_click=true;pontuar();" class="btn btn-lg btn-primary shadow w-100"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Um Pokemon</button>
        </div>
      </div>

    </div>
  </template>
  <template x-if="jogo_finalizado">
    <div
      class="card position-absolute top-50 start-50 translate-middle text-center my-2 py-2 shadow-lg bg-light bg-opacity-50   "
      style="width: 32rem;">
      <div class="card py-4 m-2 border bg-secondary bg-opacity-75 shadow ">
      <h3 class="text-danger"> Fim do Jogo</h3>
      <h4>Você fez <span x-text="pontuacao.pontos"></span></h4>
      <form @submit.prevent="salvar_jogador">
        <div class="mb-3 d-flex-col">
          <label for="recipient-name" class="col-form-label fs-5">Informe um nome para o Rank de Jogadores</label>
          <input type="text" class="form-control mx-auto my-2 w-50" x-model="pontuacao.nomeJogador">
          <button  type="submit" class="btn btn-primary mx-auto my-2 py-1 w-50">Salvar</button>
        </div>
      </form>
    </div>

    </div>

  </template>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header ">
          <h1 class="modal-title fs-2 mx-auto " id="exampleModalLabel">Resultado</h1>
        </div>
        
          {% include 'game_app/partial/resposta.html' %}
        

      </div>
    </div>
  </div>
</div>
{%endblock%}
{% block javascript %}
<script src="{%static 'js/scripts_game.js'%}"></script>
{% endblock%}