<!doctype html>
{% load static%}
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pokemon ou Distro Linux</title>
  <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <style>
    
  </style>
</head>

<body class="img-fluid" style="
  background-image: url({%static '/img/background.png'%});
  background-color: rgba(255, 255, 225 ,0.55);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  backdrop-filter: blur(5px);
  ">

  <div class="container-fluid">
    {% block main %}

    <div
      class="card position-absolute top-50 start-50 translate-middle text-center my-2 py-2 shadow-lg bg-light bg-opacity-75 "
      style="min-width: 32rem;
    ">
      <div class="card-body aligment-itens-center">
        <h2 class="card-title ">Bem-vindo</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="{% url 'game_page' %}" class="btn btn-lg btn-info  my-2 mx-auto w-100">Iniciar</a>
          <a href="{% url 'top_jogadores'%}" class="btn btn-lg btn-info my-2 mx-auto w-100">Top 10 Jogadores</a>
          <a href="" class="btn btn-lg btn-info my-2 mx-auto w-100">Sobre o Projeto</a>
        </div>
      </div>
    </div>
    {% endblock main %}
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  <script src="//unpkg.com/alpinejs" defer></script>
  {% block javascript %}{% endblock javascript %}
</body>

</html>